__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
.env
env/
.DS_Store
node_modules/
data/*  # Ignore tout le contenu du dossier data
!data/.gitkeep  # Mais garde un fichier vide pour que le dossier soit suivi
backend/models/generated_models/*  # Ignore tout le contenu du dossier generated_models
!backend/models/generated_models/.gitkeep  # Mais garde un fichier vide pour que le dossier soit suivi