__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
.idea/
.env
env/
.DS_Store
node_modules/
app/data/source/
!app/data/source/.gitkeep
app/data/cleaned/
!app/data/cleaned/.gitkeep
!app/data/.gitkeep
app/data/test/
!app/data/test/.gitkeep
app/vectorstore/chunks/
!app/vectorstore/chunks/.gitkeep
app/backend/models/generated_models/
!app/backend/models/generated_models/.gitkeep