streamlit
langchain
langchain-huggingface
openai
chromadb
faiss-cpu
sentence-transformers
google-cloud-storage
google-cloud-aiplatform
pandas
numpy<2
transformers
torch
langchain-core
huggingface-hub
duckduckgo-search
python-dotenv
streamlit
langchain-community
tqdm
transformers 
accelerate 
sentence-transformers
langchain-core
langchain-community
azure
azure-core
plotly
pillow
scikit-learn
plotly