streamlit
langchain
langchain-huggingface
openai
chromadb
faiss-cpu
sentence-transformers
google-cloud-storage
google-cloud-aiplatform
pandas
numpy<2
transformers
torch
langchain-core
huggingface-hub
duckduckgo-search
python-dotenv
streamlit
langchain-community
tqdm
transformers 
accelerate 
sentence-transformers
langchain-core
langchain-community
plotly
pillow
scikit-learn
plotly
faiss-gpu
azure-storage-blob==12.19.0
azure-mgmt-resource==23.1.0
azure-keyvault-secrets==4.7.0