streamlit
langchain
langchain-huggingface
openai
chromadb
faiss-cpu
sentence-transformers
google-cloud-storage
google-cloud-aiplatform
pandas
numpy<2
transformers
torch
langchain-core
huggingface-hub
duckduckgo-search
python-dotenv

langchain-community
tqdm
